/* common shared style */
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}



/* Header related style */

.banner {
    /* background: rgba(228, 85, 116, 0.1); */
    background: #E554731A 10%;
    display: flex;
    background-repeat: no-repeat;
    background-position: bottom right;

}

.profile-pic {
    width: 50%;
     
     
}

.banner-information {
    margin-left: 240px;
    width: 50%;
}

.banner-title {
    font-size: 80px;
    font-weight: 800;


}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
}



.btn-primary {

    padding: 20px 43px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    border: 0;
    background: #E55473;
    color: #FFFFFF;

}

/* about section style */
.about {
    background: #FFF;
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

}